body {
    background-color: aliceblue;
 
}
section {
    text-align: center;
    width: 600px;
    height: 400px;
    margin-top: 200px;
    margin: auto;
    border: 3px solid antiquewhite;
    border-radius: 10px;
    background-color: antiquewhite;
  
}

.nav1 {
    text-align: end;
    margin-top: 30px;
}

a {
    text-decoration: none;
    border: 1px solid antiquewhite;
    border-radius: 4px;
    background-color: antiquewhite;
    padding: 5px ;
}

a:hover {
    color: red;
    border: 0.5px solid green;
    border-radius: 4px;
}

.d1 {
    text-align: end;
    margin-left: 200px;
}